apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki-stack.monitoring.svc.cluster.local:3100
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: prometheus
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
